- @bowl_games_hash.each do |week, bowl_games_weeks|
  .container_row.row
    .page-header.span16
      %h2= "Week #{week}"
    - for bowl_game in bowl_games_weeks
      = render 'shared/bowl_game_partial', :bowl_game => bowl_game