<style type="text/css">
  .container .page-header
  {
    margin-top: 25px;
  }
  .bowl_game
  {
    font-size: 12px;
    margin-bottom: 17px;
  }
  
  .bowl_game_inner
  {
    margin: 0 6px;
  }
  
  .bowl_game .team_rows
  {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: 4px;
    padding: 6px 0 4px;
  }
  
  .bowl_game .team_row
  {
    margin-bottom: 6px;
    font-size: 14px;
  }
  
  .bowl_game .game_location
  {
    width: 49%;
  }
  .bowl_game .game_time
  {
    width: 44%;
    margin-left: 0;
  }
  
  .bowl_game .game_time, .bowl_game .team_score_col
  {
    text-align: right;
  }
  
  .bowl_game .team_logo_col, .bowl_game .team_score_col
  {
    width: 13%;
  }
  
  .bowl_game .team_col
  {
    margin-left: 0;
    width: 61%;
  }
  
  .bowl_game .team_col .team_name
  {
    font-weight: bold;
  }
  
  .bowl_game .team_col .team_record
  {
    font-size: 11px;
    line-height: 11px;
  }
  
  .bowl_game h4 small
  {
    font-size: 16px;
  }
  
  .small
  {
    height: 25px;
  	width: 25px;
  }
</style>

<div class="container" style="padding-top: 40px">
  <% @bowl_games_hash.each do |key, value| %>
  <% bowl_games_weeks = value %>
  <div class="page-header">
    <h1><%= "Week #{key}" %></h1>
  </div>
  <div class="row">
    <% for bowl_game in bowl_games_weeks %>
    <div class="bowl_game span-one-third">
      <div class="bowl_game_inner">
        <h4><%= "#{bowl_game.name}" %> <small><%= "#{bowl_game.network}" %></small></h4>
        <div class="row">
          <div class="game_location span2">
            <%= "#{bowl_game.city}, #{bowl_game.state}" %>
          </div>
          <div class="game_time span3">
            <%= bowl_game.game_time.strftime("%a, %b %d | %I:%M %p") %>
          </div>
        </div>
        <div class="team_rows">
          <% for team in bowl_game.teams %>
          <div class="team_row row">
            <div class="team_logo_col span1">
              <div class="teamLogo <%= "espnId-#{team.espn_id}" %>"></div>
            </div>
            <div class="team_col span3">
              <div class="team_name"><%= "#{team.school_name}" %></div>
              <div class="team_record">
                <%= "(#{team.wins}-#{team.losses}, #{team.conference_wins}-#{team.conference_losses} #{team.conference.short_name})" %>
              </div>
            </div>
            <div class="team_score_col span1">
              <!-- TODO: Add score from finished game -->
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>