<html>
<head>
  <title>Bowl Games</title>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <script type="text/javascript">
  </script>
  <style type="text/css">
    .container .page-header
    {
      margin-top: 25px;
    }
    .bowl_game
    {
      font-size: 12px;
      margin-bottom: 17px;
    }
    
    .bowl_game_inner
    {
      margin: 0 6px;
    }
    
    .bowl_game .team_rows
    {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      margin-top: 4px;
      padding: 6px 0 4px;
    }
    
    .bowl_game .team_row
    {
      margin-bottom: 6px;
      font-size: 14px;
    }
    
    .bowl_game .game_location
    {
      width: 49%;
    }
    .bowl_game .game_time
    {
      width: 44%;
      margin-left: 0;
    }
    
    .bowl_game .game_time, .bowl_game .team_score_col
    {
      text-align: right;
    }
    
    .bowl_game .team_logo_col, .bowl_game .team_score_col
    {
      width: 13%;
    }
    
    .bowl_game .team_col
    {
      margin-left: 0;
      width: 61%;
    }
    
    .bowl_game .team_col .team_name
    {
      font-weight: bold;
    }
    
    .bowl_game .team_col .team_record
    {
      font-size: 11px;
      line-height: 11px;
    }
    
    h4 small
    {
      font-size: 16px;
    }
    
    .team_logo
    {
    	background-position: center center;
    	background-image: url('../../assets/images/ncaa_logo_sprite.png');
    	background-repeat: no-repeat;
    }
    
    .small
    {
      height: 25px;
    	width: 25px;
    }
    
    .team_logo.small.espnId-252 { 	background-position: -25px -175px;  }
    .team_logo.small.espnId-2638 { 	background-position: -25px -425px;  }
  </style>
</head>
<body>
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container">
        <h3>
          <a href="#">Bowl Game Pick'Em 2012</a>
        </h3>
        <ul class="nav">
          <li><a href="#">Hello</a></li>
          <li><a href="#">Hello</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container" style="padding-top: 40px">
    <div class="page-header">
      <h1>Week 1</h1>
    </div>
    <div class="row">
      <div class="bowl_game span-one-third">
        <div class="bowl_game_inner">
          <h4>New Mexico Bowl <small>ESPN</small></h4>
          <div class="row">
            <div class="game_location span2">
              Albuquerque, NM
            </div>
            <div class="game_time span3">
              Sat, Dec 18 | 11:00 AM
            </div>
          </div>
          <div class="team_rows">
            <div class="team_row row">
              <div class="team_logo_col span1">
                <div class="team_logo small espnId-252"></div>
              </div>
              <div class="team_col span3">
                <div class="team_name">Brigham Young</div>
                <div class="team_record">(6, 6, mwest)</div>
              </div>
              <div class="team_score_col span1">
                52
              </div>
            </div>
            <div class="team_row row">
              <div class="team_logo_col span1">
                <div class="team_logo small espnId-2638"></div>
              </div>
              <div class="team_col span3">
                <div class="team_name">UTEP</div>
                <div class="team_record">(6, 6, cusa)</div>
              </div>
              <div class="team_score_col span1">
                14
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bowl_game span-one-third">
        <div class="bowl_game_inner">
          <h4>New Mexico Bowl <small>ESPN</small></h4>
          <div class="row">
            <div class="game_location span2">
              Albuquerque, NM
            </div>
            <div class="game_time span3">
              Sat, Dec 18 | 11:00 AM
            </div>
          </div>
          <div class="team_rows">
            <div class="team_row row">
              <div class="team_logo_col span1">
                <div class="team_logo small espnId-252"></div>
              </div>
              <div class="team_col span3">
                <div class="team_name">Brigham Young</div>
                <div class="team_record">(6, 6, mwest)</div>
              </div>
              <div class="team_score_col span1">
                52
              </div>
            </div>
            <div class="team_row row">
              <div class="team_logo_col span1">
                <div class="team_logo small espnId-2638"></div>
              </div>
              <div class="team_col span3">
                <div class="team_name">UTEP</div>
                <div class="team_record">(6, 6, cusa)</div>
              </div>
              <div class="team_score_col span1">
                14
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bowl_game span-one-third">
        <div class="bowl_game_inner">
          <h4>New Mexico Bowl <small>ESPN</small></h4>
          <div class="row">
            <div class="game_location span2">
              Albuquerque, NM
            </div>
            <div class="game_time span3">
              Sat, Dec 18 | 11:00 AM
            </div>
          </div>
          <div class="team_rows">
            <div class="team_row row">
              <div class="team_logo_col span1">
                <div class="team_logo small espnId-252"></div>
              </div>
              <div class="team_col span3">
                <div class="team_name">Brigham Young</div>
                <div class="team_record">(6, 6, mwest)</div>
              </div>
              <div class="team_score_col span1">
                52
              </div>
            </div>
            <div class="team_row row">
              <div class="team_logo_col span1">
                <div class="team_logo small espnId-2638"></div>
              </div>
              <div class="team_col span3">
                <div class="team_name">UTEP</div>
                <div class="team_record">(6, 6, cusa)</div>
              </div>
              <div class="team_score_col span1">
                14
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bowl_game span-one-third">
        <div class="bowl_game_inner">
          <h4>New Mexico Bowl <small>ESPN</small></h4>
          <div class="row">
            <div class="game_location span2">
              Albuquerque, NM
            </div>
            <div class="game_time span3">
              Sat, Dec 18 | 11:00 AM
            </div>
          </div>
          <div class="team_rows">
            <div class="team_row row">
              <div class="team_logo_col span1">
                <div class="team_logo small espnId-252"></div>
              </div>
              <div class="team_col span3">
                <div class="team_name">Brigham Young</div>
                <div class="team_record">(6, 6, mwest)</div>
              </div>
              <div class="team_score_col span1">
                52
              </div>
            </div>
            <div class="team_row row">
              <div class="team_logo_col span1">
                <div class="team_logo small espnId-2638"></div>
              </div>
              <div class="team_col span3">
                <div class="team_name">UTEP</div>
                <div class="team_record">(6, 6, cusa)</div>
              </div>
              <div class="team_score_col span1">
                14
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bowl_game span-one-third">
        <div class="bowl_game_inner">
          <h4>New Mexico Bowl <small>ESPN</small></h4>
          <div class="row">
            <div class="game_location span2">
              Albuquerque, NM
            </div>
            <div class="game_time span3">
              Sat, Dec 18 | 11:00 AM
            </div>
          </div>
          <div class="team_rows">
            <div class="team_row row">
              <div class="team_logo_col span1">
                <div class="team_logo small espnId-252"></div>
              </div>
              <div class="team_col span3">
                <div class="team_name">Brigham Young</div>
                <div class="team_record">(6, 6, mwest)</div>
              </div>
              <div class="team_score_col span1">
                52
              </div>
            </div>
            <div class="team_row row">
              <div class="team_logo_col span1">
                <div class="team_logo small espnId-2638"></div>
              </div>
              <div class="team_col span3">
                <div class="team_name">UTEP</div>
                <div class="team_record">(6, 6, cusa)</div>
              </div>
              <div class="team_score_col span1">
                14
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-header">
      <h1>Week 2</h1>
    </div>
    <div class="row">
      <div class="bowl_game span-one-third">
        <div class="bowl_game_inner">
          <h4>New Mexico Bowl <small>ESPN</small></h4>
          <div class="row">
            <div class="game_location span2">
              Albuquerque, NM
            </div>
            <div class="game_time span3">
              Sat, Dec 18 | 11:00 AM
            </div>
          </div>
          <div class="team_rows">
            <div class="team_row row">
              <div class="team_logo_col span1">
                <div class="team_logo small espnId-252"></div>
              </div>
              <div class="team_col span3">
                <div class="team_name">Brigham Young</div>
                <div class="team_record">(6, 6, mwest)</div>
              </div>
              <div class="team_score_col span1">
                52
              </div>
            </div>
            <div class="team_row row">
              <div class="team_logo_col span1">
                <div class="team_logo small espnId-2638"></div>
              </div>
              <div class="team_col span3">
                <div class="team_name">UTEP</div>
                <div class="team_record">(6, 6, cusa)</div>
              </div>
              <div class="team_score_col span1">
                14
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bowl_game span-one-third">
        <div class="bowl_game_inner">
          <h4>New Mexico Bowl <small>ESPN</small></h4>
          <div class="row">
            <div class="game_location span2">
              Albuquerque, NM
            </div>
            <div class="game_time span3">
              Sat, Dec 18 | 11:00 AM
            </div>
          </div>
          <div class="team_rows">
            <div class="team_row row">
              <div class="team_logo_col span1">
                <div class="team_logo small espnId-252"></div>
              </div>
              <div class="team_col span3">
                <div class="team_name">Brigham Young</div>
                <div class="team_record">(6, 6, mwest)</div>
              </div>
              <div class="team_score_col span1">
                52
              </div>
            </div>
            <div class="team_row row">
              <div class="team_logo_col span1">
                <div class="team_logo small espnId-2638"></div>
              </div>
              <div class="team_col span3">
                <div class="team_name">UTEP</div>
                <div class="team_record">(6, 6, cusa)</div>
              </div>
              <div class="team_score_col span1">
                14
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bowl_game span-one-third">
        <div class="bowl_game_inner">
          <h4>New Mexico Bowl <small>ESPN</small></h4>
          <div class="row">
            <div class="game_location span2">
              Albuquerque, NM
            </div>
            <div class="game_time span3">
              Sat, Dec 18 | 11:00 AM
            </div>
          </div>
          <div class="team_rows">
            <div class="team_row row">
              <div class="team_logo_col span1">
                <div class="team_logo small espnId-252"></div>
              </div>
              <div class="team_col span3">
                <div class="team_name">Brigham Young</div>
                <div class="team_record">(6, 6, mwest)</div>
              </div>
              <div class="team_score_col span1">
                52
              </div>
            </div>
            <div class="team_row row">
              <div class="team_logo_col span1">
                <div class="team_logo small espnId-2638"></div>
              </div>
              <div class="team_col span3">
                <div class="team_name">UTEP</div>
                <div class="team_record">(6, 6, cusa)</div>
              </div>
              <div class="team_score_col span1">
                14
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bowl_game span-one-third">
        <div class="bowl_game_inner">
          <h4>New Mexico Bowl <small>ESPN</small></h4>
          <div class="row">
            <div class="game_location span2">
              Albuquerque, NM
            </div>
            <div class="game_time span3">
              Sat, Dec 18 | 11:00 AM
            </div>
          </div>
          <div class="team_rows">
            <div class="team_row row">
              <div class="team_logo_col span1">
                <div class="team_logo small espnId-252"></div>
              </div>
              <div class="team_col span3">
                <div class="team_name">Brigham Young</div>
                <div class="team_record">(6, 6, mwest)</div>
              </div>
              <div class="team_score_col span1">
                52
              </div>
            </div>
            <div class="team_row row">
              <div class="team_logo_col span1">
                <div class="team_logo small espnId-2638"></div>
              </div>
              <div class="team_col span3">
                <div class="team_name">UTEP</div>
                <div class="team_record">(6, 6, cusa)</div>
              </div>
              <div class="team_score_col span1">
                14
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bowl_game span-one-third">
        <div class="bowl_game_inner">
          <h4>New Mexico Bowl <small>ESPN</small></h4>
          <div class="row">
            <div class="game_location span2">
              Albuquerque, NM
            </div>
            <div class="game_time span3">
              Sat, Dec 18 | 11:00 AM
            </div>
          </div>
          <div class="team_rows">
            <div class="team_row row">
              <div class="team_logo_col span1">
                <div class="team_logo small espnId-252"></div>
              </div>
              <div class="team_col span3">
                <div class="team_name">Brigham Young</div>
                <div class="team_record">(6, 6, mwest)</div>
              </div>
              <div class="team_score_col span1">
                52
              </div>
            </div>
            <div class="team_row row">
              <div class="team_logo_col span1">
                <div class="team_logo small espnId-2638"></div>
              </div>
              <div class="team_col span3">
                <div class="team_name">UTEP</div>
                <div class="team_record">(6, 6, cusa)</div>
              </div>
              <div class="team_score_col span1">
                14
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>