%p
  In order to activate your picks, please pay the $5 entry fee using the wepay widget below.  If you have already paid and still see this page an hour after paying, immediately contact
  %a{:href => "mailto:csi7585@gmail.com"}
    csi7585@gmail.com
    \.
%a.wepay-widget{:href => "https://www.wepay.com/events/view/32265?widget_type=tickets&widget_ticket_id=32265&widget_auth_token=d8b2727cef48d24b8d7d440512c01f2bb2dfe2a7&widget_show_description=0&widget_show_tickets=1"}
  Buy Tickets for 4th Annual Bowl Game Pick 'Em
  %script#wepay-widget_script{:src => "https://www.wepay.com/min/js/widget.wepay.js", :type => "text/javascript"}