.row
  .span-two-thirds
    .page-header
      %h2
        Set Your Picks
    Click on "Your Picks" above to set your picks. Click the team you think is going to win and drag the row to your confidence level.
  .span-one-third
    .page-header
      %h3
        Standings
    Coming Soon...