:css
  .user_fullname
  {
    font-size: 18px;
    padding-top: 12px;
  }
  .user_fullname a
  {
    text-decoration: none;
    color: #404040;
  }
  .user_fullname a:hover
  {
    text-decoration: underline;
  }
  .score
  {
    font-size:45px;
    line-height: 45px;
    text-align: right;
  }
  .score.positive {
    color:#57A957;
  }
  .score.negative {
    color:#C43C35;
  }
  table td { padding: 5px }
%p
  Mobile home