:css
  .loginControl
  {
    border: 1px solid #ddd;
    padding: 6px 10px;
    margin-top: 50px;
  }
  .loginControl .row
  {
    margin: 6px 0;
  }
  .loginControl .span2
  {
    width: 75px;
    text-align: right;
  }
  .loginControl input
  {
    width: 150px;
  }
  .loginControl input[type="submit"]
  {
    float: right;
    width: auto;
  }
  .loginControl input[type="checkbox"]
  {
    float: left;
    margin-left: 6px;
    width: auto;
  }
  .rememberMe
  {
    float: left;
    font-size: 12px;
    margin-top: 2px;
  }
  .welcome_message
  {
    padding: 4px;
  }
  .bowlLogo
  {
    float: left;
  }
  .floatFix
  {
    clear: both;
  }
%div{"data-role" => "page" }
  %div{"data-role" => "header" }
    %h1
      Sign in
  %div{"data-role" => "content"}
    %p
      hello mobile sign-in