.bowlLogo.bowlId-fiestabowl{ background-position: 0 0; width: 80px; height: 80px; } 
.bowlLogo.bowlId-nationalchampionship{ background-position: 0 -81px; width: 80px; height: 80px; } 
.bowlLogo.bowlId-orangebowl{ background-position: 0 -162px; width: 80px; height: 80px; } 
.bowlLogo.bowlId-rosebowl{ background-position: 0 -243px; width: 80px; height: 80px; } 
.bowlLogo.bowlId-sugarbowl{ background-position: 0 -324px; width: 80px; height: 80px; }

.teamLogo {
  width:25px;
  height:25px;
  background-image:url('ncaa_logo_sprite.png');
}
.teamLogo.med {
  width:50px;
  height:50px;
  background-image:url('ncaa_logo_sprite_med.gif');
}

.teamLogo.espnId-2 { 	background-position: 0px -25px;  }
.teamLogo.espnId-3 { 	background-position: -25px -25px;  }
.teamLogo.espnId-5 { 	background-position: -50px -25px;  }
.teamLogo.espnId-6 { 	background-position: -75px -25px;  }
.teamLogo.espnId-8 { 	background-position: -100px -25px;  }
.teamLogo.espnId-9 { 	background-position: -125px -25px;  }
.teamLogo.espnId-12 { 	background-position: -150px -25px;  }
.teamLogo.espnId-13 { 	background-position: -175px -25px;  }
.teamLogo.espnId-16 { 	background-position: -200px -25px;  }
.teamLogo.espnId-17 { 	background-position: -225px -25px;  }
.teamLogo.espnId-21 { 	background-position: -250px -25px;  }
.teamLogo.espnId-23 { 	background-position: -275px -25px;  }
.teamLogo.espnId-24 { 	background-position: -300px -25px;  }
.teamLogo.espnId-25 { 	background-position: -325px -25px;  }
.teamLogo.espnId-26 { 	background-position: -350px -25px;  }
.teamLogo.espnId-27 { 	background-position: -375px -25px;  }
.teamLogo.espnId-30 { 	background-position: -400px -25px;  }
.teamLogo.espnId-36 { 	background-position: -425px -25px;  }
.teamLogo.espnId-38 { 	background-position: -450px -25px;  }
.teamLogo.espnId-41 { 	background-position: -475px -25px;  }
.teamLogo.espnId-42 { 	background-position: 0px -50px;  }
.teamLogo.espnId-43 { 	background-position: -25px -50px;  }
.teamLogo.espnId-44 { 	background-position: -50px -50px;  }
.teamLogo.espnId-45 { 	background-position: -75px -50px;  }
.teamLogo.espnId-46 { 	background-position: -100px -50px;  }
.teamLogo.espnId-47 { 	background-position: -125px -50px;  }
.teamLogo.espnId-48 { 	background-position: -150px -50px;  }
.teamLogo.espnId-50 { 	background-position: -175px -50px;  }
.teamLogo.espnId-52 { 	background-position: -200px -50px;  }
.teamLogo.espnId-55 { 	background-position: -225px -50px;  }
.teamLogo.espnId-56 { 	background-position: -250px -50px;  }
.teamLogo.espnId-57 { 	background-position: -275px -50px;  }
.teamLogo.espnId-58 { 	background-position: -300px -50px;  }
.teamLogo.espnId-59 { 	background-position: -325px -50px;  }
.teamLogo.espnId-61 { 	background-position: -350px -50px;  }
.teamLogo.espnId-62 { 	background-position: -375px -50px;  }
.teamLogo.espnId-66 { 	background-position: -400px -50px;  }
.teamLogo.espnId-68 { 	background-position: -425px -50px;  }
.teamLogo.espnId-70 { 	background-position: -450px -50px;  }
.teamLogo.espnId-71 { 	background-position: -475px -50px;  }
.teamLogo.espnId-77 { 	background-position: 0px -75px;  }
.teamLogo.espnId-79 { 	background-position: -25px -75px;  }
.teamLogo.espnId-82 { 	background-position: -50px -75px;  }
.teamLogo.espnId-84 { 	background-position: -75px -75px;  }
.teamLogo.espnId-85 { 	background-position: -100px -75px;  }
.teamLogo.espnId-87 { 	background-position: -125px -75px;  }
.teamLogo.espnId-93 { 	background-position: -150px -75px;  }
.teamLogo.espnId-96 { 	background-position: -175px -75px;  }
.teamLogo.espnId-97 { 	background-position: -200px -75px;  }
.teamLogo.espnId-98 { 	background-position: -225px -75px;  }
.teamLogo.espnId-99 { 	background-position: -250px -75px;  }
.teamLogo.espnId-103 { 	background-position: -275px -75px;  }
.teamLogo.espnId-104 { 	background-position: -300px -75px;  }
.teamLogo.espnId-107 { 	background-position: -325px -75px;  }
.teamLogo.espnId-108 { 	background-position: -350px -75px;  }
.teamLogo.espnId-111 { 	background-position: -375px -75px;  }
.teamLogo.espnId-113 { 	background-position: -400px -75px;  }
.teamLogo.espnId-116 { 	background-position: -425px -75px;  }
.teamLogo.espnId-118 { 	background-position: -450px -75px;  }
.teamLogo.espnId-119 { 	background-position: -475px -75px;  }
.teamLogo.espnId-120 { 	background-position: 0px -100px;  }
.teamLogo.espnId-125 { 	background-position: -25px -100px;  }
.teamLogo.espnId-127 { 	background-position: -50px -100px;  }
.teamLogo.espnId-130 { 	background-position: -75px -100px;  }
.teamLogo.espnId-134 { 	background-position: -100px -100px;  }
.teamLogo.espnId-135 { 	background-position: -125px -100px;  }
.teamLogo.espnId-138 { 	background-position: -150px -100px;  }
.teamLogo.espnId-139 { 	background-position: -175px -100px;  }
.teamLogo.espnId-140 { 	background-position: -200px -100px;  }
.teamLogo.espnId-142 { 	background-position: -225px -100px;  }
.teamLogo.espnId-145 { 	background-position: -250px -100px;  }
.teamLogo.espnId-147 { 	background-position: -275px -100px;  }
.teamLogo.espnId-149 { 	background-position: -300px -100px;  }
.teamLogo.espnId-150 { 	background-position: -325px -100px;  }
.teamLogo.espnId-151 { 	background-position: -350px -100px;  }
.teamLogo.espnId-152 { 	background-position: -375px -100px;  }
.teamLogo.espnId-153 { 	background-position: -400px -100px;  }
.teamLogo.espnId-154 { 	background-position: -425px -100px;  }
.teamLogo.espnId-155 { 	background-position: -450px -100px;  }
.teamLogo.espnId-156 { 	background-position: -475px -100px;  }
.teamLogo.espnId-159 { 	background-position: 0px -125px;  }
.teamLogo.espnId-160 { 	background-position: -25px -125px;  }
.teamLogo.espnId-161 { 	background-position: -50px -125px;  }
.teamLogo.espnId-163 { 	background-position: -75px -125px;  }
.teamLogo.espnId-164 { 	background-position: -100px -125px;  }
.teamLogo.espnId-166 { 	background-position: -125px -125px;  }
.teamLogo.espnId-167 { 	background-position: -150px -125px;  }
.teamLogo.espnId-171 { 	background-position: -175px -125px;  }
.teamLogo.espnId-172 { 	background-position: -200px -125px;  }
.teamLogo.espnId-179 { 	background-position: -225px -125px;  }
.teamLogo.espnId-183 { 	background-position: -250px -125px;  }
.teamLogo.espnId-189 { 	background-position: -275px -125px;  }
.teamLogo.espnId-193 { 	background-position: -300px -125px;  }
.teamLogo.espnId-194 { 	background-position: -325px -125px;  }
.teamLogo.espnId-195 { 	background-position: -350px -125px;  }
.teamLogo.espnId-197 { 	background-position: -375px -125px;  }
.teamLogo.espnId-198 { 	background-position: -400px -125px;  }
.teamLogo.espnId-201 { 	background-position: -425px -125px;  }
.teamLogo.espnId-202 { 	background-position: -450px -125px;  }
.teamLogo.espnId-204 { 	background-position: -475px -125px;  }
.teamLogo.espnId-213 { 	background-position: 0px -150px;  }
.teamLogo.espnId-218 { 	background-position: -25px -150px;  }
.teamLogo.espnId-219 { 	background-position: -50px -150px;  }
.teamLogo.espnId-221 { 	background-position: -75px -150px;  }
.teamLogo.espnId-222 { 	background-position: -100px -150px;  }
.teamLogo.espnId-225 { 	background-position: -125px -150px;  }
.teamLogo.espnId-227 { 	background-position: -150px -150px;  }
.teamLogo.espnId-228 { 	background-position: -175px -150px;  }
.teamLogo.espnId-231 { 	background-position: -200px -150px;  }
.teamLogo.espnId-232 { 	background-position: -225px -150px;  }
.teamLogo.espnId-233 { 	background-position: -250px -150px;  }
.teamLogo.espnId-235 { 	background-position: -275px -150px;  }
.teamLogo.espnId-236 { 	background-position: -300px -150px;  }
.teamLogo.espnId-238 { 	background-position: -325px -150px;  }
.teamLogo.espnId-239 { 	background-position: -350px -150px;  }
.teamLogo.espnId-242 { 	background-position: -375px -150px;  }
.teamLogo.espnId-245 { 	background-position: -400px -150px;  }
.teamLogo.espnId-248 { 	background-position: -425px -150px;  }
.teamLogo.espnId-249 { 	background-position: -450px -150px;  }
.teamLogo.espnId-250 { 	background-position: -475px -150px;  }
.teamLogo.espnId-251 { 	background-position: 0px -175px;  }
.teamLogo.espnId-252 { 	background-position: -25px -175px;  }
.teamLogo.espnId-253 { 	background-position: -50px -175px;  }
.teamLogo.espnId-254 { 	background-position: -75px -175px;  }
.teamLogo.espnId-256 { 	background-position: -100px -175px;  }
.teamLogo.espnId-257 { 	background-position: -125px -175px;  }
.teamLogo.espnId-258 { 	background-position: -150px -175px;  }
.teamLogo.espnId-259 { 	background-position: -175px -175px;  }
.teamLogo.espnId-261 { 	background-position: -200px -175px;  }
.teamLogo.espnId-264 { 	background-position: -225px -175px;  }
.teamLogo.espnId-265 { 	background-position: -250px -175px;  }
.teamLogo.espnId-269 { 	background-position: -275px -175px;  }
.teamLogo.espnId-270 { 	background-position: -300px -175px;  }
.teamLogo.espnId-275 { 	background-position: -325px -175px;  }
.teamLogo.espnId-276 { 	background-position: -350px -175px;  }
.teamLogo.espnId-277 { 	background-position: -375px -175px;  }
.teamLogo.espnId-278 { 	background-position: -400px -175px;  }
.teamLogo.espnId-279 { 	background-position: -425px -175px;  }
.teamLogo.espnId-282 { 	background-position: -450px -175px;  }
.teamLogo.espnId-288 { 	background-position: -475px -175px;  }
.teamLogo.espnId-290 { 	background-position: 0px -200px;  }
.teamLogo.espnId-292 { 	background-position: -25px -200px;  }
.teamLogo.espnId-294 { 	background-position: -50px -200px;  }
.teamLogo.espnId-295 { 	background-position: -75px -200px;  }
.teamLogo.espnId-299 { 	background-position: -100px -200px;  }
.teamLogo.espnId-300 { 	background-position: -125px -200px;  }
.teamLogo.espnId-301 { 	background-position: -150px -200px;  }
.teamLogo.espnId-302 { 	background-position: -175px -200px;  }
.teamLogo.espnId-304 { 	background-position: -200px -200px;  }
.teamLogo.espnId-305 { 	background-position: -225px -200px;  }
.teamLogo.espnId-309 { 	background-position: -250px -200px;  }
.teamLogo.espnId-311 { 	background-position: -275px -200px;  }
.teamLogo.espnId-314 { 	background-position: -300px -200px;  }
.teamLogo.espnId-315 { 	background-position: -325px -200px;  }
.teamLogo.espnId-322 { 	background-position: -350px -200px;  }
.teamLogo.espnId-324 { 	background-position: -375px -200px;  }
.teamLogo.espnId-325 { 	background-position: -400px -200px;  }
.teamLogo.espnId-326 { 	background-position: -425px -200px;  }
.teamLogo.espnId-328 { 	background-position: -450px -200px;  }
.teamLogo.espnId-331 { 	background-position: -475px -200px;  }
.teamLogo.espnId-333 { 	background-position: 0px -225px;  }
.teamLogo.espnId-338 { 	background-position: -25px -225px;  }
.teamLogo.espnId-339 { 	background-position: -50px -225px;  }
.teamLogo.espnId-344 { 	background-position: -75px -225px;  }
.teamLogo.espnId-349 { 	background-position: -100px -225px;  }
.teamLogo.espnId-350 { 	background-position: -125px -225px;  }
.teamLogo.espnId-356 { 	background-position: -150px -225px;  }
.teamLogo.espnId-357 { 	background-position: -175px -225px;  }
.teamLogo.espnId-399 { 	background-position: -200px -225px;  }
.teamLogo.espnId-426 { 	background-position: -225px -225px;  }
.teamLogo.espnId-526 { 	background-position: -250px -225px;  }
.teamLogo.espnId-2005 { 	background-position: -275px -225px;  }
.teamLogo.espnId-2006 { 	background-position: -300px -225px;  }
.teamLogo.espnId-2010 { 	background-position: -325px -225px;  }
.teamLogo.espnId-2011 { 	background-position: -350px -225px;  }
.teamLogo.espnId-2016 { 	background-position: -375px -225px;  }
.teamLogo.espnId-2026 { 	background-position: -400px -225px;  }
.teamLogo.espnId-2029 { 	background-position: -425px -225px;  }
.teamLogo.espnId-2031 { 	background-position: -450px -225px;  }
.teamLogo.espnId-2032 { 	background-position: -475px -225px;  }
.teamLogo.espnId-2046 { 	background-position: 0px -250px;  }
.teamLogo.espnId-2050 { 	background-position: -25px -250px;  }
.teamLogo.espnId-2057 { 	background-position: -50px -250px;  }
.teamLogo.espnId-2065 { 	background-position: -75px -250px;  }
.teamLogo.espnId-2066 { 	background-position: -100px -250px;  }
.teamLogo.espnId-2083 { 	background-position: -125px -250px;  }
.teamLogo.espnId-2084 { 	background-position: -150px -250px;  }
.teamLogo.espnId-2086 { 	background-position: -175px -250px;  }
.teamLogo.espnId-2097 { 	background-position: -200px -250px;  }
.teamLogo.espnId-2099 { 	background-position: -225px -250px;  }
.teamLogo.espnId-2110 { 	background-position: -250px -250px;  }
.teamLogo.espnId-2113 { 	background-position: -275px -250px;  }
.teamLogo.espnId-2115 { 	background-position: -300px -250px;  }
.teamLogo.espnId-2116 { 	background-position: -325px -250px;  }
.teamLogo.espnId-2117 { 	background-position: -350px -250px;  }
.teamLogo.espnId-2127 { 	background-position: -375px -250px;  }
.teamLogo.espnId-2130 { 	background-position: -400px -250px;  }
.teamLogo.espnId-2132 { 	background-position: -425px -250px;  }
.teamLogo.espnId-2142 { 	background-position: -450px -250px;  }
.teamLogo.espnId-2154 { 	background-position: -475px -250px;  }
.teamLogo.espnId-2166 { 	background-position: 0px -275px;  }
.teamLogo.espnId-2168 { 	background-position: -25px -275px;  }
.teamLogo.espnId-2169 { 	background-position: -50px -275px;  }
.teamLogo.espnId-2172 { 	background-position: -75px -275px;  }
.teamLogo.espnId-2174 { 	background-position: -100px -275px;  }
.teamLogo.espnId-2181 { 	background-position: -125px -275px;  }
.teamLogo.espnId-2182 { 	background-position: -150px -275px;  }
.teamLogo.espnId-2184 { 	background-position: -175px -275px;  }
.teamLogo.espnId-2193 { 	background-position: -200px -275px;  }
.teamLogo.espnId-2197 { 	background-position: -225px -275px;  }
.teamLogo.espnId-2198 { 	background-position: -250px -275px;  }
.teamLogo.espnId-2199 { 	background-position: -275px -275px;  }
.teamLogo.espnId-2210 { 	background-position: -300px -275px;  }
.teamLogo.espnId-2217 { 	background-position: -325px -275px;  }
.teamLogo.espnId-2226 { 	background-position: -350px -275px;  }
.teamLogo.espnId-2229 { 	background-position: -375px -275px;  }
.teamLogo.espnId-2230 { 	background-position: -400px -275px;  }
.teamLogo.espnId-2239 { 	background-position: -425px -275px;  }
.teamLogo.espnId-2241 { 	background-position: -450px -275px;  }
.teamLogo.espnId-2244 { 	background-position: -475px -275px;  }
.teamLogo.espnId-2247 { 	background-position: 0px -300px;  }
.teamLogo.espnId-2250 { 	background-position: -25px -300px;  }
.teamLogo.espnId-2261 { 	background-position: -50px -300px;  }
.teamLogo.espnId-2272 { 	background-position: -75px -300px;  }
.teamLogo.espnId-2275 { 	background-position: -100px -300px;  }
.teamLogo.espnId-2277 { 	background-position: -125px -300px;  }
.teamLogo.espnId-2287 { 	background-position: -150px -300px;  }
.teamLogo.espnId-2294 { 	background-position: -175px -300px;  }
.teamLogo.espnId-2296 { 	background-position: -200px -300px;  }
.teamLogo.espnId-2305 { 	background-position: -225px -300px;  }
.teamLogo.espnId-2306 { 	background-position: -250px -300px;  }
.teamLogo.espnId-2309 { 	background-position: -275px -300px;  }
.teamLogo.espnId-2320 { 	background-position: -300px -300px;  }
.teamLogo.espnId-2325 { 	background-position: -325px -300px;  }
.teamLogo.espnId-2329 { 	background-position: -350px -300px;  }
.teamLogo.espnId-2335 { 	background-position: -375px -300px;  }
.teamLogo.espnId-2341 { 	background-position: -400px -300px;  }
.teamLogo.espnId-2344 { 	background-position: -425px -300px;  }
.teamLogo.espnId-2348 { 	background-position: -450px -300px;  }
.teamLogo.espnId-2350 { 	background-position: -475px -300px;  }
.teamLogo.espnId-2351 { 	background-position: 0px -325px;  }
.teamLogo.espnId-2352 { 	background-position: -25px -325px;  }
.teamLogo.espnId-2363 { 	background-position: -50px -325px;  }
.teamLogo.espnId-2368 { 	background-position: -75px -325px;  }
.teamLogo.espnId-2377 { 	background-position: -100px -325px;  }
.teamLogo.espnId-2378 { 	background-position: -125px -325px;  }
.teamLogo.espnId-2379 { 	background-position: -150px -325px;  }
.teamLogo.espnId-2382 { 	background-position: -175px -325px;  }
.teamLogo.espnId-2390 { 	background-position: -200px -325px;  }
.teamLogo.espnId-2393 { 	background-position: -225px -325px;  }
.teamLogo.espnId-2400 { 	background-position: -250px -325px;  }
.teamLogo.espnId-2405 { 	background-position: -275px -325px;  }
.teamLogo.espnId-2413 { 	background-position: -300px -325px;  }
.teamLogo.espnId-2415 { 	background-position: -325px -325px;  }
.teamLogo.espnId-2417 { 	background-position: -350px -325px;  }
.teamLogo.espnId-2426 { 	background-position: -375px -325px;  }
.teamLogo.espnId-2427 { 	background-position: -400px -325px;  }
.teamLogo.espnId-2428 { 	background-position: -425px -325px;  }
.teamLogo.espnId-2429 { 	background-position: -450px -325px;  }
.teamLogo.espnId-2430 { 	background-position: -475px -325px;  }
.teamLogo.espnId-2433 { 	background-position: 0px -350px;  }
.teamLogo.espnId-2439 { 	background-position: -25px -350px;  }
.teamLogo.espnId-2440 { 	background-position: -50px -350px;  }
.teamLogo.espnId-2443 { 	background-position: -75px -350px;  }
.teamLogo.espnId-2447 { 	background-position: -100px -350px;  }
.teamLogo.espnId-2448 { 	background-position: -125px -350px;  }
.teamLogo.espnId-2449 { 	background-position: -150px -350px;  }
.teamLogo.espnId-2450 { 	background-position: -175px -350px;  }
.teamLogo.espnId-2454 { 	background-position: -200px -350px;  }
.teamLogo.espnId-2458 { 	background-position: -225px -350px;  }
.teamLogo.espnId-2459 { 	background-position: -250px -350px;  }
.teamLogo.espnId-2460 { 	background-position: -275px -350px;  }
.teamLogo.espnId-2463 { 	background-position: -300px -350px;  }
.teamLogo.espnId-2464 { 	background-position: -325px -350px;  }
.teamLogo.espnId-2466 { 	background-position: -350px -350px;  }
.teamLogo.espnId-2473 { 	background-position: -375px -350px;  }
.teamLogo.espnId-2483 { 	background-position: -400px -350px;  }
.teamLogo.espnId-2492 { 	background-position: -425px -350px;  }
.teamLogo.espnId-2501 { 	background-position: -450px -350px;  }
.teamLogo.espnId-2502 { 	background-position: -475px -350px;  }
.teamLogo.espnId-2504 { 	background-position: 0px -375px;  }
.teamLogo.espnId-2506 { 	background-position: -25px -375px;  }
.teamLogo.espnId-2507 { 	background-position: -50px -375px;  }
.teamLogo.espnId-2509 { 	background-position: -75px -375px;  }
.teamLogo.espnId-2514 { 	background-position: -100px -375px;  }
.teamLogo.espnId-2515 { 	background-position: -125px -375px;  }
.teamLogo.espnId-2520 { 	background-position: -150px -375px;  }
.teamLogo.espnId-2523 { 	background-position: -175px -375px;  }
.teamLogo.espnId-2529 { 	background-position: -200px -375px;  }
.teamLogo.espnId-2534 { 	background-position: -225px -375px;  }
.teamLogo.espnId-2535 { 	background-position: -250px -375px;  }
.teamLogo.espnId-2539 { 	background-position: -275px -375px;  }
.teamLogo.espnId-2540 { 	background-position: -300px -375px;  }
.teamLogo.espnId-2541 { 	background-position: -325px -375px;  }
.teamLogo.espnId-2542 { 	background-position: -350px -375px;  }
.teamLogo.espnId-2545 { 	background-position: -375px -375px;  }
.teamLogo.espnId-2546 { 	background-position: -400px -375px;  }
.teamLogo.espnId-2550 { 	background-position: -425px -375px;  }
.teamLogo.espnId-2561 { 	background-position: -450px -375px;  }
.teamLogo.espnId-2565 { 	background-position: -475px -375px;  }
.teamLogo.espnId-2567 { 	background-position: 0px -400px;  }
.teamLogo.espnId-2569 { 	background-position: -25px -400px;  }
.teamLogo.espnId-2571 { 	background-position: -50px -400px;  }
.teamLogo.espnId-2572 { 	background-position: -75px -400px;  }
.teamLogo.espnId-2579 { 	background-position: -100px -400px;  }
.teamLogo.espnId-2582 { 	background-position: -125px -400px;  }
.teamLogo.espnId-2597 { 	background-position: -150px -400px;  }
.teamLogo.espnId-2598 { 	background-position: -175px -400px;  }
.teamLogo.espnId-2599 { 	background-position: -200px -400px;  }
.teamLogo.espnId-2603 { 	background-position: -225px -400px;  }
.teamLogo.espnId-2608 { 	background-position: -250px -400px;  }
.teamLogo.espnId-2612 { 	background-position: -275px -400px;  }
.teamLogo.espnId-2617 { 	background-position: -300px -400px;  }
.teamLogo.espnId-2619 { 	background-position: -325px -400px;  }
.teamLogo.espnId-2623 { 	background-position: -350px -400px;  }
.teamLogo.espnId-2628 { 	background-position: -375px -400px;  }
.teamLogo.espnId-2630 { 	background-position: -400px -400px;  }
.teamLogo.espnId-2633 { 	background-position: -425px -400px;  }
.teamLogo.espnId-2634 { 	background-position: -450px -400px;  }
.teamLogo.espnId-2635 { 	background-position: -475px -400px;  }
.teamLogo.espnId-2636 { 	background-position: 0px -425px;  }
.teamLogo.espnId-2638 { 	background-position: -25px -425px;  }
.teamLogo.espnId-2640 { 	background-position: -50px -425px;  }
.teamLogo.espnId-2641 { 	background-position: -75px -425px;  }
.teamLogo.espnId-2643 { 	background-position: -100px -425px;  }
.teamLogo.espnId-2649 { 	background-position: -125px -425px;  }
.teamLogo.espnId-2653 { 	background-position: -150px -425px;  }
.teamLogo.espnId-2655 { 	background-position: -175px -425px;  }
.teamLogo.espnId-2670 { 	background-position: -200px -425px;  }
.teamLogo.espnId-2674 { 	background-position: -225px -425px;  }
.teamLogo.espnId-2678 { 	background-position: -250px -425px;  }
.teamLogo.espnId-2681 { 	background-position: -275px -425px;  }
.teamLogo.espnId-2692 { 	background-position: -300px -425px;  }
.teamLogo.espnId-2710 { 	background-position: -325px -425px;  }
.teamLogo.espnId-2711 { 	background-position: -350px -425px;  }
.teamLogo.espnId-2717 { 	background-position: -375px -425px;  }
.teamLogo.espnId-2724 { 	background-position: -400px -425px;  }
.teamLogo.espnId-2729 { 	background-position: -425px -425px;  }
.teamLogo.espnId-2736 { 	background-position: -450px -425px;  }
.teamLogo.espnId-2737 { 	background-position: -475px -425px;  }
.teamLogo.espnId-2739 { 	background-position: 0px -450px;  }
.teamLogo.espnId-2745 {  	background-position: -25px -450px;  }
.teamLogo.espnId-2750 { 	background-position: -50px -450px;  }
.teamLogo.espnId-2751 { 	background-position: -75px -450px;  }
.teamLogo.espnId-2752 { 	background-position: -100px -450px;  }
.teamLogo.espnId-2754 { 	background-position: -125px -450px;  }
.teamLogo.espnId-2755 { 	background-position: -150px -450px;  }
.teamLogo.espnId-2803 { 	background-position: -175px -450px;  }
.teamLogo.espnId-2870 { 	background-position: -200px -450px;  }
.teamLogo.espnId-2885 { 	background-position: -225px -450px;  }
.teamLogo.espnId-2908 { 	background-position: -250px -450px;  }
.teamLogo.espnId-2934 { 	background-position: -275px -450px;  }
.teamLogo.espnId-3084 { 	background-position: -300px -450px;  }
.teamLogo.espnId-258_ncb { 	background-position: -325px -450px;  }
.teamLogo.espnId-258_ncf { 	background-position: -350px -450px;  }
.teamLogo.espnId-2633_bkw { 	background-position: -375px -450px;  }
.teamLogo.espnId-2633_ncw { 	background-position: -400px -450px;  }
.teamLogo.espnId-158 { 	background-position: -425px -450px;  }
.teamLogo.espnId-2747 { 	background-position: -450px -450px;  }

.teamLogo.med.espnId-103{ background-position: 0 0;  } 
.teamLogo.med.espnId-107{ background-position: 0 -51px;  } 
.teamLogo.med.espnId-108{ background-position: 0 -102px;  } 
.teamLogo.med.espnId-111{ background-position: 0 -153px;  } 
.teamLogo.med.espnId-113{ background-position: 0 -204px;  } 
.teamLogo.med.espnId-119{ background-position: 0 -255px;  } 
.teamLogo.med.espnId-12{ background-position: 0 -306px;  } 
.teamLogo.med.espnId-120{ background-position: 0 -357px;  } 
.teamLogo.med.espnId-127{ background-position: 0 -408px;  } 
.teamLogo.med.espnId-13{ background-position: 0 -459px;  } 
.teamLogo.med.espnId-130{ background-position: 0 -510px;  } 
.teamLogo.med.espnId-135{ background-position: 0 -561px;  } 
.teamLogo.med.espnId-142{ background-position: 0 -612px;  } 
.teamLogo.med.espnId-145{ background-position: 0 -663px;  } 
.teamLogo.med.espnId-147{ background-position: 0 -714px;  } 
.teamLogo.med.espnId-149{ background-position: 0 -765px;  } 
.teamLogo.med.espnId-150{ background-position: 0 -816px;  } 
.teamLogo.med.espnId-151{ background-position: 0 -867px;  } 
.teamLogo.med.espnId-152{ background-position: 0 -918px;  } 
.teamLogo.med.espnId-153{ background-position: 0 -969px;  } 
.teamLogo.med.espnId-154{ background-position: 0 -1020px;  } 
.teamLogo.med.espnId-158{ background-position: 0 -1071px;  } 
.teamLogo.med.espnId-159{ background-position: 0 -1122px;  } 
.teamLogo.med.espnId-16{ background-position: 0 -1173px;  } 
.teamLogo.med.espnId-160{ background-position: 0 -1224px; } 
.teamLogo.med.espnId-163{ background-position: 0 -1280px;  } 
.teamLogo.med.espnId-164{ background-position: 0 -1331px;  } 
.teamLogo.med.espnId-166{ background-position: 0 -1382px;  } 
.teamLogo.med.espnId-167{ background-position: 0 -1433px;  } 
.teamLogo.med.espnId-171{ background-position: 0 -1484px;  } 
.teamLogo.med.espnId-172{ background-position: 0 -1535px;  } 
.teamLogo.med.espnId-183{ background-position: 0 -1586px;  } 
.teamLogo.med.espnId-189{ background-position: 0 -1637px;  } 
.teamLogo.med.espnId-193{ background-position: 0 -1688px;  } 
.teamLogo.med.espnId-194{ background-position: 0 -1739px;  } 
.teamLogo.med.espnId-195{ background-position: 0 -1790px;  } 
.teamLogo.med.espnId-197{ background-position: 0 -1841px;  } 
.teamLogo.med.espnId-2{ background-position: 0 -1892px;  } 
.teamLogo.med.espnId-2005{ background-position: 0 -1943px;  } 
.teamLogo.med.espnId-2006{ background-position: 0 -1994px;  } 
.teamLogo.med.espnId-201{ background-position: -56px 0;  } 
.teamLogo.med.espnId-2010{ background-position: -56px -51px;  } 
.teamLogo.med.espnId-2011{ background-position: -56px -102px;  } 
.teamLogo.med.espnId-2016{ background-position: -56px -153px;  } 
.teamLogo.med.espnId-202{ background-position: -56px -204px;  } 
.teamLogo.med.espnId-2026{ background-position: -56px -255px;  } 
.teamLogo.med.espnId-2029{ background-position: -56px -306px;  } 
.teamLogo.med.espnId-2032{ background-position: -56px -357px;  } 
.teamLogo.med.espnId-204{ background-position: -56px -408px;  } 
.teamLogo.med.espnId-2046{ background-position: -56px -459px;  } 
.teamLogo.med.espnId-2050{ background-position: -56px -510px;  } 
.teamLogo.med.espnId-2065{ background-position: -56px -561px;  } 
.teamLogo.med.espnId-2083{ background-position: -56px -612px;  } 
.teamLogo.med.espnId-2084{ background-position: -56px -663px;  } 
.teamLogo.med.espnId-2086{ background-position: -56px -714px;  } 
.teamLogo.med.espnId-21{ background-position: -56px -765px;  } 
.teamLogo.med.espnId-2115{ background-position: -56px -816px;  } 
.teamLogo.med.espnId-2116{ background-position: -56px -867px;  } 
.teamLogo.med.espnId-2117{ background-position: -56px -918px;  } 
.teamLogo.med.espnId-2127{ background-position: -56px -969px;  } 
.teamLogo.med.espnId-213{ background-position: -56px -1020px;  } 
.teamLogo.med.espnId-2132{ background-position: -56px -1071px;  } 
.teamLogo.med.espnId-2142{ background-position: -56px -1122px;  } 
.teamLogo.med.espnId-2166{ background-position: -56px -1173px;  } 
.teamLogo.med.espnId-2168{ background-position: -56px -1224px;  } 
.teamLogo.med.espnId-2169{ background-position: -56px -1275px;  } 
.teamLogo.med.espnId-218{ background-position: -56px -1326px;  } 
.teamLogo.med.espnId-2181{ background-position: -56px -1377px;  } 
.teamLogo.med.espnId-2184{ background-position: -56px -1428px;  } 
.teamLogo.med.espnId-219{ background-position: -56px -1479px;  } 
.teamLogo.med.espnId-2197{ background-position: -56px -1530px;  } 
.teamLogo.med.espnId-2198{ background-position: -56px -1581px;  } 
.teamLogo.med.espnId-2199{ background-position: -56px -1632px;  } 
.teamLogo.med.espnId-221{ background-position: -56px -1683px;  } 
.teamLogo.med.espnId-2210{ background-position: -56px -1734px;  } 
.teamLogo.med.espnId-222{ background-position: -56px -1785px;  } 
.teamLogo.med.espnId-2226{ background-position: -56px -1836px;  } 
.teamLogo.med.espnId-2229{ background-position: -56px -1887px;  } 
.teamLogo.med.espnId-2230{ background-position: -56px -1938px;  } 
.teamLogo.med.espnId-2241{ background-position: -56px -1989px;  } 
.teamLogo.med.espnId-225{ background-position: -112px 0;  } 
.teamLogo.med.espnId-2261{ background-position: -112px -51px;  } 
.teamLogo.med.espnId-227{ background-position: -112px -102px;  } 
.teamLogo.med.espnId-2275{ background-position: -112px -153px;  } 
.teamLogo.med.espnId-228{ background-position: -112px -204px;  } 
.teamLogo.med.espnId-2287{ background-position: -112px -255px;  } 
.teamLogo.med.espnId-2294{ background-position: -112px -306px;  } 
.teamLogo.med.espnId-2296{ background-position: -112px -357px;  } 
.teamLogo.med.espnId-23{ background-position: -112px -408px;  } 
.teamLogo.med.espnId-2305{ background-position: -112px -459px;  } 
.teamLogo.med.espnId-2306{ background-position: -112px -510px;  } 
.teamLogo.med.espnId-2309{ background-position: -112px -561px;  } 
.teamLogo.med.espnId-231{ background-position: -112px -612px;  } 
.teamLogo.med.espnId-2325{ background-position: -112px -663px;  } 
.teamLogo.med.espnId-2329{ background-position: -112px -714px;  } 
.teamLogo.med.espnId-2335{ background-position: -112px -765px;  } 
.teamLogo.med.espnId-2348{ background-position: -112px -816px;  } 
.teamLogo.med.espnId-235{ background-position: -112px -867px;  } 
.teamLogo.med.espnId-236{ background-position: -112px -918px;  } 
.teamLogo.med.espnId-2368{ background-position: -112px -969px;  } 
.teamLogo.med.espnId-2377{ background-position: -112px -1020px;  } 
.teamLogo.med.espnId-238{ background-position: -112px -1071px;  } 
.teamLogo.med.espnId-239{ background-position: -112px -1122px;  } 
.teamLogo.med.espnId-2390{ background-position: -112px -1173px;  } 
.teamLogo.med.espnId-2393{ background-position: -112px -1224px;  } 
.teamLogo.med.espnId-24{ background-position: -112px -1275px;  } 
.teamLogo.med.espnId-2400{ background-position: -112px -1326px;  } 
.teamLogo.med.espnId-2405{ background-position: -112px -1377px;  } 
.teamLogo.med.espnId-2413{ background-position: -112px -1428px;  } 
.teamLogo.med.espnId-2415{ background-position: -112px -1479px;  } 
.teamLogo.med.espnId-242{ background-position: -112px -1530px;  } 
.teamLogo.med.espnId-2426{ background-position: -112px -1581px;  } 
.teamLogo.med.espnId-2433{ background-position: -112px -1632px;  } 
.teamLogo.med.espnId-2439{ background-position: -112px -1683px;  } 
.teamLogo.med.espnId-2440{ background-position: -112px -1734px;  } 
.teamLogo.med.espnId-2447{ background-position: -112px -1785px;  } 
.teamLogo.med.espnId-2448{ background-position: -112px -1836px;  } 
.teamLogo.med.espnId-2449{ background-position: -112px -1887px;  } 
.teamLogo.med.espnId-245{ background-position: -112px -1938px;  } 
.teamLogo.med.espnId-2450{ background-position: -112px -1989px;  } 
.teamLogo.med.espnId-2458{ background-position: -168px 0;  } 
.teamLogo.med.espnId-2459{ background-position: -168px -51px;  } 
.teamLogo.med.espnId-2460{ background-position: -168px -102px;  } 
.teamLogo.med.espnId-2464{ background-position: -168px -153px;  } 
.teamLogo.med.espnId-2466{ background-position: -168px -204px;  } 
.teamLogo.med.espnId-248{ background-position: -168px -255px;  } 
.teamLogo.med.espnId-2483{ background-position: -168px -306px;  } 
.teamLogo.med.espnId-249{ background-position: -168px -357px;  } 
.teamLogo.med.espnId-25{ background-position: -168px -408px;  } 
.teamLogo.med.espnId-2502{ background-position: -168px -459px;  } 
.teamLogo.med.espnId-2504{ background-position: -168px -510px;  } 
.teamLogo.med.espnId-2509{ background-position: -168px -561px;  } 
.teamLogo.med.espnId-251{ background-position: -168px -612px;  } 
.teamLogo.med.espnId-252{ background-position: -168px -663px;  } 
.teamLogo.med.espnId-2523{ background-position: -168px -714px;  } 
.teamLogo.med.espnId-2529{ background-position: -168px -765px;  } 
.teamLogo.med.espnId-253{ background-position: -168px -816px;  } 
.teamLogo.med.espnId-2534{ background-position: -168px -867px;  } 
.teamLogo.med.espnId-2535{ background-position: -168px -918px;  } 
.teamLogo.med.espnId-254{ background-position: -168px -969px;  } 
.teamLogo.med.espnId-2542{ background-position: -168px -1020px;  } 
.teamLogo.med.espnId-2545{ background-position: -168px -1071px;  } 
.teamLogo.med.espnId-2546{ background-position: -168px -1122px;  } 
.teamLogo.med.espnId-256{ background-position: -168px -1173px;  } 
.teamLogo.med.espnId-2567{ background-position: -168px -1224px;  } 
.teamLogo.med.espnId-2569{ background-position: -168px -1275px;  } 
.teamLogo.med.espnId-257{ background-position: -168px -1326px;  } 
.teamLogo.med.espnId-2571{ background-position: -168px -1377px;  } 
.teamLogo.med.espnId-2572{ background-position: -168px -1428px;  } 
.teamLogo.med.espnId-2579{ background-position: -168px -1479px;  } 
.teamLogo.med.espnId-258{ background-position: -168px -1530px;  } 
.teamLogo.med.espnId-2582{ background-position: -168px -1581px;  } 
.teamLogo.med.espnId-259{ background-position: -168px -1632px;  } 
.teamLogo.med.espnId-2598{ background-position: -168px -1683px;  } 
.teamLogo.med.espnId-26{ background-position: -168px -1734px;  } 
.teamLogo.med.espnId-2612{ background-position: -168px -1785px;  } 
.teamLogo.med.espnId-2617{ background-position: -168px -1836px;  } 
.teamLogo.med.espnId-2619{ background-position: -168px -1887px;  } 
.teamLogo.med.espnId-2623{ background-position: -168px -1938px;  } 
.teamLogo.med.espnId-2628{ background-position: -168px -1989px;  } 
.teamLogo.med.espnId-2630{ background-position: -224px 0;  } 
.teamLogo.med.espnId-2633{ background-position: -224px -51px;  } 
.teamLogo.med.espnId-2634{ background-position: -224px -102px;  } 
.teamLogo.med.espnId-2635{ background-position: -224px -153px;  } 
.teamLogo.med.espnId-2638{ background-position: -224px -204px;  } 
.teamLogo.med.espnId-264{ background-position: -224px -255px;  } 
.teamLogo.med.espnId-2640{ background-position: -224px -306px;  } 
.teamLogo.med.espnId-2641{ background-position: -224px -357px;  } 
.teamLogo.med.espnId-2643{ background-position: -224px -408px;  } 
.teamLogo.med.espnId-2649{ background-position: -224px -459px;  } 
.teamLogo.med.espnId-265{ background-position: -224px -510px;  } 
.teamLogo.med.espnId-2653{ background-position: -224px -561px;  } 
.teamLogo.med.espnId-2655{ background-position: -224px -612px;  } 
.teamLogo.med.espnId-2674{ background-position: -224px -663px;  } 
.teamLogo.med.espnId-2678{ background-position: -224px -714px;  } 
.teamLogo.med.espnId-2681{ background-position: -224px -765px;  } 
.teamLogo.med.espnId-2692{ background-position: -224px -816px;  } 
.teamLogo.med.espnId-2710{ background-position: -224px -867px;  } 
.teamLogo.med.espnId-2711{ background-position: -224px -918px;  } 
.teamLogo.med.espnId-2717{ background-position: -224px -969px;  } 
.teamLogo.med.espnId-2729{ background-position: -224px -1020px;  } 
.teamLogo.med.espnId-2747{ background-position: -224px -1071px;  } 
.teamLogo.med.espnId-275{ background-position: -224px -1122px;  } 
.teamLogo.med.espnId-2751{ background-position: -224px -1173px;  } 
.teamLogo.med.espnId-2754{ background-position: -224px -1224px;  } 
.teamLogo.med.espnId-2755{ background-position: -224px -1275px;  } 
.teamLogo.med.espnId-276{ background-position: -224px -1326px;  } 
.teamLogo.med.espnId-277{ background-position: -224px -1377px;  } 
.teamLogo.med.espnId-278{ background-position: -224px -1428px;  } 
.teamLogo.med.espnId-282{ background-position: -224px -1479px;  } 
.teamLogo.med.espnId-290{ background-position: -224px -1530px;  } 
.teamLogo.med.espnId-294{ background-position: -224px -1581px;  } 
.teamLogo.med.espnId-30{ background-position: -224px -1632px;  } 
.teamLogo.med.espnId-301{ background-position: -224px -1683px;  } 
.teamLogo.med.espnId-302{ background-position: -224px -1734px;  } 
.teamLogo.med.espnId-304{ background-position: -224px -1785px;  } 
.teamLogo.med.espnId-309{ background-position: -224px -1836px;  } 
.teamLogo.med.espnId-311{ background-position: -224px -1887px;  } 
.teamLogo.med.espnId-314{ background-position: -224px -1938px;  } 
.teamLogo.med.espnId-322{ background-position: -224px -1989px;  } 
.teamLogo.med.espnId-324{ background-position: -280px 0;  } 
.teamLogo.med.espnId-326{ background-position: -280px -51px;  } 
.teamLogo.med.espnId-328{ background-position: -280px -102px;  } 
.teamLogo.med.espnId-331{ background-position: -280px -153px;  } 
.teamLogo.med.espnId-333{ background-position: -280px -204px;  } 
.teamLogo.med.espnId-344{ background-position: -280px -255px;  } 
.teamLogo.med.espnId-349{ background-position: -280px -306px;  } 
.teamLogo.med.espnId-356{ background-position: -280px -357px;  } 
.teamLogo.med.espnId-36{ background-position: -280px -408px;  } 
.teamLogo.med.espnId-38{ background-position: -280px -459px;  } 
.teamLogo.med.espnId-399{ background-position: -280px -510px; } 
.teamLogo.med.espnId-41{ background-position: -280px -566px;  } 
.teamLogo.med.espnId-43{ background-position: -280px -617px;  } 
.teamLogo.med.espnId-46{ background-position: -280px -668px;  } 
.teamLogo.med.espnId-47{ background-position: -280px -719px;  } 
.teamLogo.med.espnId-48{ background-position: -280px -770px;  } 
.teamLogo.med.espnId-5{ background-position: -280px -821px;  } 
.teamLogo.med.espnId-50{ background-position: -280px -872px;  } 
.teamLogo.med.espnId-52{ background-position: -280px -923px;  } 
.teamLogo.med.espnId-55{ background-position: -280px -974px;  } 
.teamLogo.med.espnId-57{ background-position: -280px -1025px;  } 
.teamLogo.med.espnId-58{ background-position: -280px -1076px;  } 
.teamLogo.med.espnId-59{ background-position: -280px -1127px;  } 
.teamLogo.med.espnId-61{ background-position: -280px -1178px;  } 
.teamLogo.med.espnId-62{ background-position: -280px -1229px;  } 
.teamLogo.med.espnId-66{ background-position: -280px -1280px;  } 
.teamLogo.med.espnId-68{ background-position: -280px -1331px;  } 
.teamLogo.med.espnId-70{ background-position: -280px -1382px;  } 
.teamLogo.med.espnId-77{ background-position: -280px -1433px;  } 
.teamLogo.med.espnId-79{ background-position: -280px -1484px;  } 
.teamLogo.med.espnId-8{ background-position: -280px -1535px;  } 
.teamLogo.med.espnId-84{ background-position: -280px -1586px;  } 
.teamLogo.med.espnId-87{ background-position: -280px -1637px;  } 
.teamLogo.med.espnId-9{ background-position: -280px -1688px;  } 
.teamLogo.med.espnId-93{ background-position: -280px -1739px;  } 
.teamLogo.med.espnId-96{ background-position: -280px -1790px;  } 
.teamLogo.med.espnId-97{ background-position: -280px -1841px;  } 
.teamLogo.med.espnId-98{ background-position: -280px -1892px;  } 
.teamLogo.med.espnId-99{ background-position: -280px -1943px;  } 