// Place all the styles related to the standings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.standings .standing {
  height:65px;
  border-top:1px solid #DDD;
}

.standings .standing .score {
  height:45px;
  line-height:45px;
  font-size:45px;
  margin:5px;
  padding:5px;
  text-align:center;
}

.standings .standing .score.positive {
  color:#57A957;
}

.standings .standing .score.negative {
  color:#C43C35;
}

.standings .standing .user_info {
  height:25px;
  line-height:25px;
} 

.standings .standing .top_pick {
  height:30px;
  line-height:15px;
  font-size:12px;
  margin:0px 5px;
  border:1px solid #CCC;
  border-radius:4px;
  padding:2px;
  width:148px;
}

.standings .standing .top_pick.correct {
  background-color: #D1EED1;
  border-color: #9CB29C;
}

.standings .standing .top_pick.incorrect {
  background-color: #FDDFDE;
  border-color: #BDA7A6;
}

.standings .standing .top_pick .teamLogo {
  margin:2px 2px 3px 2px;
}

.standings .standing .top_pick .team_name {
  margin-left:30px;
  width:118px;
}

.outcome_prediction .outcome .bowl_name {
  font-weight:bold;
}

.outcome_prediction .outcome .bowl_team label {
  float:none;
  font-size:11px;
}

.outcome_prediction .outcome .bowl_teams {
  border-bottom: 1px solid #DDD;
  border-top: 1px solid #DDD;
  padding: 2px 0px;
  margin: 2px 0px;
}